/* big tablets to  1024 to 1200px */
@media only screen and (max-width: 1200px) {
    .computer-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
    
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/computer3.jpg);
        background-size: cover;
        height: 100px;

    }
    
}

/* small tablets to big tablets 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding:  60px 0; }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
}

/* small phones to small tablets 481 to 767px */
@media only screen and (max-width: 767px) {
    
}

/* For small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
    
}
